workflows.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "postProcessAction": "nothing",
        "format": "resolved",
        "options": {}
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [
        -200,
        -20
      ],
      "id": "cb8741fb-1166-41ae-877e-8e4c63729ad5",
      "name": "Email Trigger (IMAP)",
      "credentials": {
        "imap": {
          "id": "nA7ktMF3kNvtwk9q",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n    const attachments = Object.values(item.binary || {})\n    return {\n        json: {\n            subject: item.json.subject,\n            from: item.json.from.value[0].address,\n            to: item.json.to.value[0].address,\n            date: item.json.date,\n            messageId: item.json.messageId,\n            body: item.json.text || item.json.html,\n            attachments: attachments || []\n        }\n    };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        20,
        -20
      ],
      "id": "44194cb8-33e1-43f3-bf92-4f4c935b57d5",
      "name": "Code"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://email_processor:8000/process-email",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        -20
      ],
      "id": "dee75a17-bc48-4f77-b872-e471b2c874a2",
      "name": "Send Email to Backend"
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "emails",
        "fields": "={{Object.keys($json).join(',')}}",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.1,
      "position": [
        460,
        -20
      ],
      "id": "4ecc8c97-9b8e-4212-a293-dfb473da8e03",
      "name": "MongoDB",
      "credentials": {
        "mongoDb": {
          "id": "GuZRHG7mCUYDiNhG",
          "name": "MongoDB account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Send Email to Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email to Backend": {
      "main": [
        [
          {
            "node": "MongoDB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6f556fad-76a8-44b1-b7bb-c4aa0a4b6bed",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "488bd3ff858083858aa2956f3284f488f487007c880d65aaa3596f32bed679e5"
  },
  "id": "DufQpOmbS0QfNSJJ",
  "tags": []
}